<body>
    <header>

    </header>

    <main>
        <section>
            <img class='logo' src='image/logo' alt="Kanatrainig Logo" title="Logo">
        </section>

        <section>
            <nav>
                <ul class="connect">
                    <a href='$link'>
                        <span class='fa-solid fa-person'></span> Connection
                    </a>

                    <a href='/'>
                        <span class='fa-solid fa-house'></span> Home
                    </a>

                    <a href='/user'>
                        <span class='fa-solid fa-address-card'></span> Profil
                    </a>

                    <a href='/logout'>
                        <span class='fa-solid fa-person-running'></span> Disconected
                    </a>
                </ul>

                <p class='divider'>---------------------------------------</p>

                <ul class='theme'>
                    <input type='checkbox' class='switch theme' id='theme' name='cc' onchange='selectTheme()' />
                    <label for='theme'>theme-color</label>
                </ul>

                <p class='divider'>---------------------------------------</p>

                <ul class='check'>

                    <input type='checkbox' class='switch' id='hiragana' name='cc' onchange='selectDificulty(this.id)' />
                    <label for='hiragana'>Hiragana</label>

                    <input type='checkbox' class='switch' id='hiraganaCombo' name='cc'
                        onchange='selectDificulty(this.id)' />
                    <label for='hiraganaCombo'>Hiragana Combo</label>

                    <input type='checkbox' class='switch' id='hiraganaDakuon' name='cc'
                        onchange='selectDificulty(this.id)' />
                    <label for='hiraganaDakuon'>Hiragana Dakuon</label>

                    <input type='checkbox' class='switch' id='hiraganaDakuonCombo' name='cc'
                        onchange='selectDificulty(this.id)' />
                    <label for='hiraganaDakuonCombo'>Hiragana Dakuon Combo </label>
                </ul>

                <p class='divider'>---------------------------------------</p>

                <ul>
                    <input type='checkbox' class='switch' id='katakana' name='cc' onchange='selectDificulty(this.id)' />
                    <label for='katakana'>Katakana</label>

                    <input type='checkbox' class='switch' id='katakanaCombo' name='cc'
                        onchange='selectDificulty(this.id)' />
                    <label for='katakanaCombo'>Katakana Combo</label>

                    <input type='checkbox' class='switch' id='katakanaDakuon' name='cc'
                        onchange='selectDificulty(this.id)' />
                    <label for='katakanaDakuon'>Katakana Dakuon</label>

                    <input type='checkbox' class='switch' id='katakanaDakuonCombo' name='cc'
                        onchange='selectDificulty(this.id)' />
                    <label for='katakanaDakuonCombo'>Katakana Dakuon Combo </label>
                </ul>
            </nav>
        </section>

        <section>

        </section>

        <section>

        </section>

    </main>

    <footer>

    </footer>

</body>

<div style="display: none;">
    <div class='content'>
        <div id='menu' class='left'>

        </div>

        <div class='center'>
            <div class='hiragana-symbol'>
                <!-- <p class='test-skills'> Test your kana's skill </p> -->
                <div class='character'></div>

                <span class='material-icons-round iconkeyboard'>keyboard_double_arrow_right</span>
                <span class='material-icons-round iconkeyboard'>keyboard</span>
                <span class='material-icons-round iconkeyboard'>keyboard_double_arrow_left</span>

                <form class='forms' action='#' onsubmit='checkAnswerd(); return false' autocomplete='off'>
                    <input name='input' type='text' class='input' maxlength='3'>
                    <input type='submit'>
                </form>
            </div>
        </div>

        <div class='center2'>
            <div id='notification'>
                <div class='toast'>Nop bad answerd, the good one is <span>'A'</span> </div>
            </div>
        </div>

        <div class='right'>
            <a href='#' class='help'>HELP
                <span class='material-icons-round iconhelp'>info</span>
            </a>

            <a class='helpcloser hidden'><span class='material-icons-round'>close</span></a>
        </div>

        <div class='down'>
            <div>
                <span class='sc'>Your score</span>
                <span class='fa-solid fa-star'></span>
                <span class='good'>0</span>/<span class='total'>0</span>
            </div>

            <a href='' target='_blank' class='twitter-share'>
                <i class='fa fa-twitter'> </i>
                <span>Share on Twitter</span>
            </a>

            <div class='author'>
                <a href='https://twitter.com/AudricSan' target='_blank'>
                    <span class='fa-solid fa-user'></span>
                    by Audric_San
                </a>

                <p> | </p>

                <a href='https://github.com/AudricSan/KanaTraining' target='_blank' class='git'>
                    The github project
                    <span class='fab fa-github icongit'></span>
                </a>
            </div>
        </div>
    </div> <!-- End of content -->

    <!-- HELP GENERATOR -->
    <div id='help' class='hidden'>
        <div id='help-spawner'>
        </div>
    </div>
    <!-- END HELP -->
</div>